body {
  font-family: "Climate Crisis", cursive;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.logInform {
  background-color: #4f4f4f;
  border: 2px solid rgba(77, 77, 77, 0.676);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 1rem;
  width: 80%;
  margin-top: 5rem;
  border-radius: 15px;
}
.logInform:hover {
  transition: all ease-in-out 0.3s;
  box-shadow: 1px 1px 20px 1px rgb(227, 227, 227);
}
.containerInLogInform {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logInform form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  z-index: 1;
  color: white;
}
.logInform h1 {
  font-family: "Climate Crisis", cursive;
  font-family: "Quicksand", sans-serif;
  color: #e0e0e0;
}
.logInform .buttonDiv {
  display: flex;
  justify-content: center;
}
.logInform button {
  background-color: rgba(94, 135, 142, 255);
  width: 50%;
  border: 1px solid white;
  border-radius: 10px;
  min-height: 2.5rem;
  color: white;
}
.logInform button:hover {
  width: 80%;
  transition: all ease-in-out 0.5s;
}
.logInform .imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logInform .imageSection img {
  filter: blur(0.2px);
  filter: drop-shadow(0.5rem 0.5rem 1rem rgb(248, 215, 218));
}
.logInform form,
.imageSection {
  width: 40vw;
  height: 40vw;
}
#BackButton {
  color: white;
}
#BackButton:hover {
  border: 1px solid white;
  transition: all ease-in-out 0.5s;
}
@media screen and (max-width: 850px) {
  .logInform form,
  .imageSection {
    width: auto;
    height: auto;
    min-width: 40vw;
    min-width: 40vw;
  }
  .logInform .imageSection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40vw;
    min-height: 40vh;
  }
}
@media screen and (max-width: 550px) {
  .logInform {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0.1rem;
    width: 80%;
    margin-top: 5rem;
  }
}
